[submodule "services/b2-data"]
	path = services/b2-data
	url = https://github.com/Intelligent-Traffic-Ecosystem/its-data-intelligence.git
[submodule "services/b3-dashboard"]
	path = services/b3-dashboard
	url = https://github.com/Intelligent-Traffic-Ecosystem/its-dashboard-ui
[submodule "services/b1-detection"]
	path = services/b1-detection
	url = https://github.com/Intelligent-Traffic-Ecosystem/its-detection-edge
